.header {
  padding-block: calc(var(--space) * 8);
}

.section {
  padding-block: calc(var(--space) * 4);
}

.card {
  border-radius: calc(var(--space) * 2);
  border: 1px solid var(--ash50-color);
}

.card__content {
  box-sizing: border-box;
  height: 100%;
  padding: calc(var(--space) * 4);
}
