.header {
  padding-block: calc(var(--space) * 8);
}

.section {
  padding-block: calc(var(--space) * 4);
}

.section-title {
  display: flex;
  align-items: center;
  gap: calc(var(--space) * 2);
}

.section-title i {
  color: var(--ash600-color);
  font-size: 0.82em;
}

.card {
  border-radius: calc(var(--space) * 2);
  border: 1px solid var(--ash50-color);
}

.card__content {
  box-sizing: border-box;
  height: 100%;
  padding: calc(var(--space) * 4);
}

.education-item {
  align-items: flex-start;
}

.education-item__meta {
  flex-shrink: 0;
  text-align: right;
}

@media (width < 640px) {
  .education-item {
    flex-direction: column;
  }

  .education-item__meta {
    text-align: left;
  }
}
